*{
  box-sizing: border-box;
}

.nav{
  width: 100%;
  height:60px;
  border:1px solid black;
  background: gray;
  color: white;
}

.title{
  float: left;
  font-weight: bold;
  padding-left: 20px;
  color: white;
  padding-top:20px;
}

.visible{
  display: none;
}

.drop{
  float:right;
  margin-right: 20px;
}

.hidden{
  display: inline;
  color:white;
  z-index: 1;
  background: gray;
  margin-top: 5px;
  opacity: 1;
  list-style: none;
  transition: all .25s ease;
}

@media only screen and (max-width: 500px){
  .hidden{
    background: white;
    color:black;
    opacity: 0;
    display: block;
  }

  .visible{
    display: inline;
  }

  .title{
    display: none;
  }
}